.body {
  position: relative;
  top: 0px;
  overflow: hidden;
  background: var(--Bijela, #F2F2F2);
  width: 375px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}

.unselected {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: #EAD8B5;
  color: #AA956B;

  /* Mobile/Label/semibold-16 */
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 144%; /* 23.04px */
  z-index: 0;
}

.selected {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: var(--Naranasta-default, #F5B943);
  color: var(--narancasta-botun-tekst, #997329);

  /* Mobile/Label/semibold-16 */
  font-family: Hind;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 144%; /* 23.04px */
  z-index: 1;
}

.marginRight {
  margin-right: -24px;
  padding: 8px 24px 8px 8px;
  width: 119px;
}

.marginLeft {
  margin-left: -24px;
  padding: 8px 8px 8px 24px;
  width: 95px;
}

.widthRegister{
  width: 135px;
}

.widthLogin{
  width: 111px;
}