@media only screen and (min-width: 350px) and (max-width: 550px){
    .filterIcon{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C4C4C4;
        border-radius: 11px;
        padding: 6px;
    }
    .filterIcon svg{
        position: relative;
        top: 3px;
    }
} 