body {
  margin: 0;
  padding: 0;
  background: #93b6eb;
}

.container {
  margin: 0;
  padding: 0;
}

.img {
  width: 133px;
  height: 133px;
  flex-shrink: 0;
  margin-left: 230px;
  margin-top: 12px;
}
