.myProfilePage{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 100px;
}

.mascotSection{
    display: flex;
    justify-content: center;
    background-color: #93B6EB;
    padding-top: 36px;
}

.personalInfoWrapper{
    background-color: #fff;
    position: relative;
    bottom: 40px;
    border-radius: 16px 16px 0px 0px;
}

.statsSection{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.statsSectionUpper{
    display: flex;
    gap: 16px;
}

.statsSectionLower{
    display: flex;
    gap: 16px;
}