body{
    margin: 0;
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
.myProfilePage{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 70px; 
    animation: fadeIn 0.5s ease-in;
}

.mascotSection{
    display: flex;
    justify-content: center;
    background-color: #93B6EB;
    padding-top: 36px;
}

.personalInfoWrapper{
    background-color: #fff;
    position: relative;
    bottom: 40px;
    border-radius: 16px 16px 0px 0px;
}

.statsSection{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 20px 0 20px;
    position: relative;
    bottom: 40px;
}

.statsSectionUpper{
    display: flex;
    gap: 16px;
}

.statsSectionLower{
    display: flex;
    gap: 16px;
}