@media only screen and (min-width: 350px) and (max-width: 550px){
    .dashboardPageWrapper{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .dashboardPageWrapper h2{
        color: #000;
        font-family: "Martel Sans";
        font-size: 28px;
        width: 100%;
    }

    .streakPointsSection{
        display: flex;
        gap: 16px;
        width: 100%;
        justify-content: center;
    }

    .dashboardSpecialForYou{
        color: #000;
        font-family: "Martel Sans Bold";
        font-size: 20px;
        width: 100%;
        margin-bottom: 0;

    }

    .preventiveExaminationsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dashboardIntroSection{
        display: flex;
        flex-direction: column;
        background-color: #93B6EB;
        padding: 10px 10px 15px 10px;
        width: 90%;
        border-radius: 16px;
        gap: 12px;
        align-items: center;
    }

    .dashboardSubtitle{
        color: #456EAD;
        font-family: "Hind";
        font-size: 16px;
        width: 100%;
        margin-top: 0;
    }

    .highlightedQuizzesContainer{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .preventiveExaminationsContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }

    .rewardCardsContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }


    
}