.questionFillIn {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 50px;
  height: 150px;
  flex-wrap: wrap;
}

.answerFillIn {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
