@media only screen and (min-width: 350px) and (max-width: 550px){
    .preventiveExamination{
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        background-color: #93B6EB;
        width: 100% ;
        padding-left: 16px;
        margin-bottom: 16px;
    }

    .preventiveExaminationCategory{
        color: #FFF;
        font-family: "Martel Sans Ultra Light";
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 0;
        font-weight: 400;
    }

    .preventiveExaminationName{
        color: #FFF;
        font-family: "Martel Sans Light";
        font-size: 18px;
        letter-spacing: 1px;
        margin-top: 0;
    }

    .preventiveExaminationInfo{
        display: flex;
        gap: 8px;
        margin-bottom: 8px;
        color: #FFF;
        font-family: "Hind Medium";
        font-size: 16px;
        text-transform: uppercase;
        align-items: center;
    }

    .preventiveExamination:last-of-type{
        margin-bottom: 24px;
    }
    
}