.registerFormWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.registerIntroduction {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
}

.registerIntroduction h2{
    color: #000;
    font-family: "Martel Sans Extra Bold";
    font-size: 28px;
    padding: 0;
    margin: 0;
}

.registerIntroduction h3{
    color: #000;
    font-family: "Hind";
    font-size: 20px;
    font-style: normal;
    padding: 0;
    margin: 0;
}