@media only screen and (min-width: 350px) and (max-width: 550px){
    .TextInputField{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 15px;
    }

    .TextInputField label{
        color: #083968;
        font-size: 16px;
        font-family: "Hind";
        padding-left: 5px;
    }

    .TextInputField input{
        height: 48px;
        border-radius: 8px;
        background-color: #BDCDDD;
        border: none;
        display: flex;
        align-items: center;
        font-family: "Hind";
        padding-left: 10px;
        font-size: 16px;
    }
    .TextInputField input::placeholder{
        padding-left: 10px;
        color: #668BB0;
        font-family: "Hind";
        font-size: 16px;
        font-weight: 500;
    }
}