/* DEFINITIONS */

/* fonts */

@font-face {
  font-family: "Hind";
  src: url(./../assets/fonts/Hind/Hind-Regular.ttf) format("woff2");
}

@font-face {
  font-family: "Hind Bold";
  src: url(./../assets/fonts/Hind/Hind-Bold.ttf) format("woff2");
}

@font-face {
  font-family: "Hind Light";
  src: url(./../assets/fonts/Hind/Hind-Light.ttf) format("woff2");
}

@font-face {
  font-family: "Hind Medium";
  src: url(./../assets/fonts/Hind/Hind-Medium.ttf) format("woff2");
}

@font-face {
  font-family: "Hind SemiBold";
  src: url(./../assets/fonts/Hind/Hind-SemiBold.ttf) format("woff2");
}


#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}