/* DEFINITIONS */

/* fonts */

@font-face {
  font-family: "Hind";
  src: url(./../assets/fonts/Hind/Hind-Regular.ttf) format("ttf");
}

@font-face {
  font-family: "Hind Bold";
  src: url(./../assets/fonts/Hind/Hind-Bold.ttf) format("ttf");
}

@font-face {
  font-family: "Hind Light";
  src: url(./../assets/fonts/Hind/Hind-Light.ttf) format("ttf");
}

@font-face {
  font-family: "Hind Medium";
  src: url(./../assets/fonts/Hind/Hind-Medium.ttf) format("ttf");
}

@font-face {
  font-family: "Hind SemiBold";
  src: url(./../assets/fonts/Hind/Hind-SemiBold.ttf) format("ttf");
}