@media only screen and (min-width: 350px) and (max-width: 550px){
    .authSubmitButton{
        display: flex;
        padding: 12px 8px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        background-color: #F5B943;
        border: none;
        width: 90%;
        color: #997329;
        font-family: "Hind SemiBold";
        font-size: 20px;
    }
}
