@media only screen and (min-width: 350px) and (max-width: 550px) {
  .personalInfoWrapper {
    display: flex;
    flex-direction: column;
  }

  .personalInfoWrapper h1{
    color:  #083968;
    font-family: "Martel Sans";
    font-size: 28px;
    font-weight: 800;
    margin: 20px 0 0 20px;
  }

  .personalInfoWrapper > h4{
    color: #668BB0;
    font-family: "Hind Light";
    font-size: 20px;
    margin: 0;
    margin-left: 20px;
  }

  .personalInfoWrapper span{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    margin-left: 20px;
    color: var(--Plava-text, #668BB0);
    font-family: "Hind";
    font-size: 20px;
    height: 40px;
  }
  .personalInfoWrapper > span > h4{
    padding-left: 0;
  }
  .personalInfoWrapper span svg{
    position: relative;
    bottom: 2px;
  }

  .personalInfoWrapper h2{
    color: #326A3E;
    font-family: "Martel Sans";
    font-size: 20px;
    padding-left: 20px;
  }

}
